<!-- Code Section -->
    <section id="code">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Jun. Frontend Developer</h2>
                    <h3 class="section-subheading text-muted">I am a passionate product manager. But without the necessary skills to execute, the best vision is of little value. In fall 2015, I decided to become a full-stack product creator and took a "code sabbatical" - 3 months, 40 hours of coding per week, together with a personal mentor at <a href="https://www.bloc.io/">Bloc.io.</a> These are the first steps of my coding journey:
                    </br>
                    </br>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <a href="http://te-geekette.github.io/codegym/" target="_blank">
                                <div class="timeline-image">
                                    
                                        <div class="project-hover">
                                            <div class="project-hover-content">
                                                <i class="fa fa-binoculars fa-2x"></i>
                                            </div>
                                        </div>
                                        <img class="img-circle img-responsive" src="img/code/codegym.jpg" alt="Code Gym" />
                                    
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p>September 2015</p>
                                    <h4 class="project-titel"><a href="http://te-geekette.github.io/codegym/" target="_blank">{code.gym} </a></h4>
                                    <h4 class="subheading">HMTL &#38; CSS, Bootstrap</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"Coding is not just for developers" That's the motto of {code.gym}, a project I initiated in Hamburg to share my love for "casual coding". {code.gym} was the first project I wrote from scratch and without a tutorial: a responsive website hosted on Github Pages with forms powered by Google Forms.</br>
                                    <a href="http://te-geekette.github.io/codegym/" target="_blank">Learn more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="https://github.com/te-geekette/bloc-jams" target="_blank">
                                <div class="timeline-image">
                                    
                                        <div class="project-hover">
                                            <div class="project-hover-content">
                                                <i class="fa fa-binoculars fa-2x"></i>
                                            </div>
                                        </div>
                                        <img class="img-circle img-responsive" src="img/code/bloc-jams.png" style="height: 100%" alt="Bloc Jams" />
                                    
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p>October 2015</p>
                                    <h4 class="project-titel"><a href="https://github.com/te-geekette/bloc-jams" target="_blank">Bloc Jams</a> </h4>
                                    <h4 class="subheading">Vanilla Javascript &#38; jQuery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bloc Jams is a basic music player. The goal of this project was to jump into JavaScript and develop the interface and interactions of the player and album view. First, I wrote all functions in vanilla JavaScript and afterwards refactored everything with jQuery.
                                    </br>
                                    <a href="https://github.com/te-geekette/bloc-jams" target="_blank">Learn more</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="https://github.com/te-geekette/bloc-jams-angular" target="_blank">
                                <div class="timeline-image">
                                    
                                        <div class="project-hover">
                                            <div class="project-hover-content">
                                                <i class="fa fa-binoculars fa-2x"></i>
                                            </div>
                                        </div>
                                        <img class="img-circle img-responsive" src="img/code/bloc-angular.png" alt="Bloc Jams Angular" />
                                    
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p>October / November 2015</p>
                                    <h4 class="project-titel"><a href="https://github.com/te-geekette/bloc-jams-angular" target="_blank">Bloc Jams II</a> </h4>
                                    <h4 class="subheading">Angular JS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After finishing the first version of Bloc Jams, I used it as the foundation to work with my first MVC framework: AngularJS. Within approx. 1.5 weeks I got from zero experience to refactoring the entire project with AngularJS.
                                    </br>
                                    <a href="https://github.com/te-geekette/bloc-jams-angular" target="_blank">Learn more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <a href="https://github.com/te-geekette/brain.bites" target="_blank">
                                <div id ="brain-bites" class="timeline-image">
                                    
                                        <div class="project-hover">
                                            <div class="project-hover-content">
                                                <i class="fa fa-binoculars fa-2x"></i>
                                            </div>
                                        </div>
                                        <img class="img-circle img-responsive" src="img/code/brainbites.png" alt="Brain Bites" />
                                    
                                </div>
                            </a>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p>November / December 2015</p>
                                    <h4 class="project-titel"><a href="https://github.com/te-geekette/brain.bites" target="_blank">{brain.bites}</a></h4>
                                    <h4 class="subheading">Meteor, ReactJS, MongoDB, Mocha</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{brain.bites} is a hybrid app for web and mobile that helps you build your own custom online courses and link lists. The goal was to build a complete Javascript-driven app from scratch - including routing, custom authentication, backend and unit tests. I chose ReactJS to explore a pure component-based framework and the uni-directional data-flow of Flux.
                                    </br>
                                    <a href="https://github.com/te-geekette/brain.bites" target="_blank">Learn more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Follow
                                    <br>me
                                    <br>on <a id="follow-Github" href="https://github.com/te-geekette" target="_blank">Github!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>