<!-- Geekettes Section -->
    <section id="geekettes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Hamburg Geekettes</h2>
                    <h3 class="section-subheading text-muted">Since 2013, I support the Geekettes network as co-founder and ambassador for their chapter in Hamburg.</h3>
                </div>
            </div>

            <div id="geekettes-images" class="row">
                <div class="col-xs-4 flex flex-column align-center">
                    <a href="http://www.geekettes.io/" target="_blank">
                        <div class="channel-image">
                            <div class="channel-hover">
                                <div class="channel-hover-content">
                                    <i class="fa fa-binoculars fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-circle img-responsive" src="img/geekettes/geekettes-logo.png" alt="Geekettes" />     
                        </div>
                    </a>
                    <p>Website</p>
                </div>
                <div class="col-xs-4 flex flex-column align-center">
                    <a href="https://www.facebook.com/hamburggeekettes" target="_blank">
                        <div class="channel-image">
                            <div class="channel-hover">
                                <div class="channel-hover-content">
                                    <i class="fa fa-binoculars fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-circle img-responsive" src="img/geekettes/HHgeekettes.png" alt="Hamburg Geekettes" />     
                        </div>
                    </a>
                    <p>Facebook</p>
                </div>
                <div class="col-xs-4 flex flex-column align-center">
                    <a href="https://twitter.com/hhgeekettes" target="_blank">
                        <div class="channel-image">
                            <div class="channel-hover">
                                <div class="channel-hover-content">
                                    <i class="fa fa-binoculars fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-circle img-responsive" src="img/geekettes/HHgeekettes-twitter.png" alt="Hamburg Geekettes Twitter" />     
                        </div>
                    </a>
                    <p>Twitter</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We're a community of women dedicated to helping aspiring and established female tech innovators. We believe that the more women get involved with tech design, development and leadership, the more successful and diverse our companies and products will be in the future.</p>
                </div>

                
            </div>
        </div>
    </section>