<!-- Product Section -->
    <section id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product Manager</h2>
                    <h3 class="section-subheading text-muted">I am a product person to the core, ticking all boxes of an experienced agile product manager with startup co-founder and investment experience on top. In short, I make things happen ... and I lead pirate ships (a.k.a cross-functional agile team).</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">

                    <blockquote>
                        <p>"I have worked with many great PM's over the years, but I can honestly say that Tina is the queen of them all. She has a long list of qualities, but I will highlight the three that are most important... " 
                        </br>
                        <a href="https://dk.linkedin.com/in/tinaegolf/en">Read the full quote and see the source here</a></p>
                        <footer>Co-Founder and CTO</footer>
                    </blockquote>

                    <!-- <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="product-heading">Product Development</h4>
                    <ul class="text-muted">
                        <li>solving complex user challenges</li>
                        <li>driving execution of products / features from inception to release: user studies, planning, scoping, building, releasing and maintenance</li>
                        <li>documenting requirements and establishing prioritization of roadmap elements</li>
                        <li>being the voice of the customer and supporting product evolution with user research, beta community moderation, usability studies, competitive analysis and quantitative metrics</li>
                        
                    </ul> -->
                </div>
                <div class="col-md-6">

                    <blockquote>
                        <p>"There are two kinds of people: those who have worked with a great product manager and those that have not. Anyone who has worked with Tina, will agree that she is among the best. She has changed my view on what a great product manager can do for a team..." 
                        </br>
                        <a href="https://dk.linkedin.com/in/tinaegolf/en">Read the full quote and see the source here</a></p>
                        <footer>Senior UX Designer</footer>
                    </blockquote>
                    
                    <!-- <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="product-heading">Leadership</h4>
                    <ul class="text-muted">
                        <li>leading and supporting self-managed agile product teams consisting of designers, developers and testers</li>
                        <li>evolving and explaining product strategy and roadmap to everyone in the team as well as end users</li>
                        <li>translating challenging technical and business topics for different internal and external stakeholders</li>
                        <li>managing deadlines and keeping everything (and everyone) organized even in times of chaos and pressure</li>
                        <li>embracing new challenges and learning new skills on the fly</li>
                    </ul> -->
                </div>
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="product-heading">User Insights</h4>
                    <ul class="text-muted">
                        <li>being the voice of the customer and supporting product evolution with user research, beta community moderation, usability studies, competitive analysis and quantitative metrics</li>
                        <li>solving complex user challenges</li>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>