/*.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}
*/


/* ----- General ------ */

@media(min-width:768px) {
    .section-subheading {
        margin-left: 200px;
        margin-right: 200px;
    }
}

/* ----- Header ------ */

.typed-cursor{
    font-size: 8rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.intro-main {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    padding-bottom: 20px;

}

#typed {
    font-size: 8rem;
    color: #FED136;
}

/* Header Mobile View*/

@media(max-width:768px) {
    .intro-main {
        margin-bottom: 0px;
    }

    #typed {
        font-size: 3rem;
    }

    .typed-cursor{
        font-size: 3rem;
    }
}

/* ----- Product ------ */


#product ul {
    text-align: left;
    line-height: 1.6;
}

/* Product Mobile View*/

@media(min-width:768px) {
    #product .col-md-6 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

#code .timeline-panel .timeline-heading .project-titel {
        color: #FED136;
}

#follow-Github,
#follow-Github:hover {
        color: white;
        text-decoration: underline;
}


#code .timeline .timeline-image .project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
    border-radius: 50%;
}

#code .timeline .timeline-image .project-hover:hover {
    opacity: 1;
}

#code .timeline .timeline-image .project-hover .project-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#code .timeline .timeline-image .project-hover .project-hover-content i {
    margin-top: -12px;
}
/*
#code .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#code .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
*/


