.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-base {
    align-items: baseline;
}


/* ----- General ------ */

@media(min-width:768px) {
    .section-subheading {
        margin-left: 200px;
        margin-right: 200px;
    }
}

/* ----- Header ------ */


.header-row img {
    border: 7px solid #f1f1f1;
    width: 150px;
    height: 150px;
}

.header-row .intro-main {
    padding-left: 20px;
}

.typed-cursor{
    font-size: 8rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.intro-main {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
    padding-bottom: 20px;

}

#typed {
    font-size: 8rem;
    color: #FED136;
}

/* Header Mobile View*/

@media(max-width:768px) {
    .intro-main {
        margin-bottom: 0px;
    }

    #typed {
        font-size: 3rem;
    }

    .typed-cursor{
        font-size: 3rem;
    }

    .header-row .intro-main {
        padding-left: 0;
    }

    .header-row img {
        width: 100px;
        height: 100px;
    }

    .header-row {
        flex-direction: column;
    }

}

/* ----- Product ------ */


#product ul {
    text-align: left;
    line-height: 1.6;
}

#product footer {
    text-align: left;
}

#product #product-images {
    margin-bottom: 60px;
}

#product .section-subheading {
    margin-bottom: 60px;
}

#product #product-images img {
    width: 100px;
    height: 100px;
}

/* Product Media*/

@media(min-width:768px) {
    #product .col-md-6 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

#code .timeline-panel .timeline-heading .project-titel {
        color: #FED136;
}

#follow-Github,
#follow-Github:hover {
        color: white;
        text-decoration: underline;
}


#code .timeline .timeline-image .project-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
    border-radius: 50%;
}

#code .timeline .timeline-image .project-hover:hover {
    opacity: 1;
}

#code .timeline .timeline-image .project-hover .project-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#code .timeline .timeline-image .project-hover .project-hover-content i {
    margin-top: -12px;
}

/* Code  Media*/

@media(min-width:768px) {
    #code #brain-bites {
        width: 210px;
        height: 210px;
        margin-left: -105px;
    }

    #code .timeline li {
        margin-bottom: 60px; 
    }
}

/* ----- Posts ------ */

.portfolio-modal .modal-content p {
    text-align: left;
}

#portfolio .portfolio-item .portfolio-caption {
    height: 118px; 
}

/* ----- Geekettes ------ */

#geekettes-images {
    margin-bottom: 40px; 
}

#geekettes-images p {
    color: #FED136;
}

#geekettes-images .channel-image .channel-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba(254,209,54,.9); /* Fallback when no plugin support */
    background: rgba({{ site.color.primary | hex_to_rgb | join: ',' }}, .9);
    border-radius: 50%;
}

#geekettes-images .channel-image {
    z-index: 100;
    position: relative;
    left: 0;
    width: 170px;
    height:170px;
    margin-bottom: 10px;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

#geekettes-images .channel-image .channel-hover:hover {
    opacity: 1;
}

#geekettes-images.channel-image .channel-hover .channel-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#geekettes-images .channel-image .channel-hover .channel-hover-content i {
    margin-top: 40%;
}


@media(max-width:768px) {
    #geekettes-images .channel-image {
        width: 120px;
        height:120px;
    }
}







